
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <!-- Jumbotron -->
    <div class="container text-center bg-white">
        <h1 class="mb-3">WEB DESIGN / APP DESIGN</h1>
        <h4 class="mb-3">DEVELOPMENT</h4>
        <a class="btn btn-primary" href="/form" role="button">Get in touch</a>
    </div>
    <!-- Jumbotron -->
