<h1>{{title}}</h1>
<p>Welcome to {{pageText}}</p>

<div class="container">
    <h2>Web Design / Development</h2><br>
    <div class="row">
        <div class="col-md-4">
            <div class="content"> <a href="https://www.rgaistanbul.com/en/" target="_blank">
                <div class="content-overlay"></div> <img class="content-image" src="images/project2.png">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">RGA Istanbul</h3>
                    <p class="content-text"><i class="fa fa-map-marker"></i> Official Roger Gracie Academy - Istanbul website design/development and maintenance</p>
                </div>
            </a> </div>
        </div>
        <div class="col-md-4">
            <div class="content"> <a href="http://www.karamanco.com/" target="_blank">
                <div class="content-overlay"></div> <img class="content-image" src="images/project1.png">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Karamanco - Strategic Consulting</h3>
                    <p class="content-text"><i class="fa fa-map-marker"></i>website design/development and maintenance</p>
                </div>
            </a> </div>
        </div>
        <div class="col-md-4">
            <div class="content"> <a href="http://www.serrakampeas.com/" target="_blank">
                <div class="content-overlay"></div> <img class="content-image" src="images/project3.png">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Psychologist</h3>
                    <p class="content-text"><i class="fa fa-map-marker"></i> website design, social media management </p>
                </div>
            </a> </div>
        </div>
        <div class="col-md-4">
            <div class="content"> <a href="http://www.onaynakliyat.com" target="_blank">
                <div class="content-overlay"></div> <img class="content-image" src="images/project4.png">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Household Movers</h3>
                    <p class="content-text"><i class="fa fa-map-marker"></i> website design, social media management </p>
                </div>
            </a> </div>
        </div>
    </div>
</div>

