<h1>Project Details</h1>

<form method="post">
    <fieldset>
        <label for="name" class="col-2">Name:</label>
        <input name="name" id="name" required />
    </fieldset>
    <fieldset>
        <label for="phone" class="col-2">Phone</label>
        <input name="phone" id="phone" required type="tel" />
    </fieldset>
    <fieldset>
        <label for="email" class="col-2">Email</label>
        <input name="email" id="email" required />
    </fieldset>
    <button class="offset-3 btn btn-primary">Send</button>
</form>