<h1>Contact Details</h1>

<form method="post">
    <fieldset>
        <label for="name" class="col-2">Name:</label>
        <input
                name="name"
                id="name"
                type="text"
                placeholder="Your name"
                required
        />
    </fieldset>
    <fieldset>
        <label for="phone" class="col-2">Phone</label>
        <input
                name="phone"
                id="phone"
                type="tel"
                placeholder="Your phone number"
                required
        />
    </fieldset>
    <fieldset>
        <label for="email" class="col-2">Email</label>
        <input
                name="email"
                id="email"
                type="text"
                placeholder="Your email"
                required
        />
    </fieldset>
    <button class="offset-3 btn btn-primary">Send</button>
</form>